.main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FEFEFE;
}

.formulario {
	width: 100%;
	max-width: 562px;
	background: white;
	font-family: "Aprova";
	box-shadow: 1px 0 6px grey;
	padding: 1.5em;
	border-radius: 4px;
}

.grupo {
	margin-bottom: 15px;
	width: 100%;
	padding: 0 5px;
}

.grupo label {
	display: block;
	margin: 10px 0;
	color: grey;
}

.grupo input, .grupo select {
	width: 100%;
	border-radius: 99999px;
	padding: .5em 1em;
	border: 1px solid grey;
	outline: none;
}

.botoes {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	margin-bottom: 2em;
}

.botao {
	background-color: #1881be;
	color: white;
	border: none;
	border-radius: 99999px;
	padding: .5em 3em;
	font-family: "Aprova";
	text-transform: uppercase;
	cursor: pointer;
}

.alinhar {
	display: flex;
}