.grupo div {
	width: 100%;
	padding: 0.5em;
}

.grupo selectItem {
	border-radius: 999px;
	border: 1px solid #a9a9a9;;
	padding: .70em;
	width: 100%;
	outline: none;
}

/* Responsividade */
@media (max-width : 360px) {
	.grupo-botao {
		flex-flow: column wrap;
	}

	.grupo-botao .botao {
		margin-bottom: 1em;
	}
}

@media (min-width : 960px) {
	.grupo {
		display: flex;
	}
}

