.mainDiv span {
	color: #a9a9a9;
	font-weight: 500;
}

@media ( min-width : 562px) {
	.meusDados-dados {
		display: flex;
	}
}

.meusDados-dados {
	color: #221f23;
	margin: 1em 1em 1em 4em;
	font-family: 'Aprova';
	justify-content: space-between;
}

.meusDados-dados div {
	width: 30%;
	padding: 0.5em;
}

.botao {
	margin: auto;
	display: block;
}

.btnRedirect{
	cursor: pointer;
    background: none;
    border: none;
    font-size: 100%;
    font-family: 'Aprova';
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}