.etapas-btn {
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 999px;
	padding: .4em 3em !important;
	font-size: 1em;
	text-transform: uppercase;
	color: white;
	font-family: 'Aprova';
	background-color: #1881be !important;
	margin: 1em auto !important;
	display: block !important;
}

@media ( min-width : 960px) {
	.divEtapas {
		display: flex !important;
	}
}

.divMax {
	margin-top: 1em;
	height: 400px;
	overflow-y: scroll;
	border: 1px solid #a9a9a9;
	border-radius: 10px;
	display: block;
}

.notas input {
	border-radius: 20px;
    width: 5em;
    display: flex;
    
}

.notas {
	display: flex;
	background-color: #e9e9e9;
	padding: 1.5em;
	border-radius: 20px;
	justify-content: space-between;
	margin-bottom: 1em; 
}

.nome {
	flex: 1;
}

.campos {
	display: flex;
    flex: 2;
    justify-content: space-between;	
}

.campos input {
	padding: .5em;
	border: 1px solid grey;
	text-align: center;
}

.campo {
	margin: 0 5px;
}