@import "../colors";
@import "../fonts";

.errorMessages {
    
    .errorMessages-list {
        list-style: none;
        text-align: center;
        
        .errorMessages-list-item {            
            margin-bottom: 1em;
            padding: 1em;
            border-radius: 5px;
            // background-color: $color-error;
            // color: white;
            color: $color-error;
            @include font-1;
        }
    }
}