@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    flex: 1;
    background-color: #EEE;
    @include center-flex;
    flex-wrap: wrap;
}

.side-image {
    display: block;
    max-width: 600px;
    min-width: 300px;
    width: 50vw;

    margin: 1.5em;
}

@import './_colors.scss';
@import './_fonts.scss';

.loginForm {
    margin: 1.5em;
    background-color: white;
    padding: 3em 2em;
    border-radius: 5px;
    box-shadow: -1px 1px 10px #aaa;

    .loginForm-header {
        text-transform: uppercase;
        text-align: center;
        @include font-1;

        .loginForm-header-logo {
            width: 100%;
            max-width: 300px;
            display: block;
            margin: auto;
            
            .bottom {
                stroke: $color-1;
            }

            .top {
                stroke: $color-2;
            }
        }

        .loginForm-header-description {
            margin: 2em 0;
        }

        .loginForm-header-title {
            font-size: 3em;
            font-weight: bold;
            color: $color-2;
        }

        .loginForm-header-subtitle {
            color: $color-1;
        }
    }

    .loginForm-group {
        margin-bottom: 1em;
    }

    .loginForm-input {
        padding: .75em 1.5em;
        width: 100%;
        border-radius: 999px;
        border: 1px solid #aaa;
        outline: none;
    }

    .loginForm-btn {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 999px;
        width: 100%;
        padding: .75em;
        font-size: 1em;
        text-transform: uppercase;
        color: white;
        @include font-1;
        background-color: $color-1;
    }
}