@mixin center-justify-flex {
    display: flex;
    justify-content: center;
}

@mixin center-justify-column-flex {
    @include center-justify-flex();
    flex-direction: column;
}

@mixin center-align-flex {
    display: flex;
    align-items: center;
}

@mixin center-align-column-flex {
    @include center-align-flex();
    flex-direction: column;
}

@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center-flex-wrap {
    @include center-flex();
    flex-wrap: wrap;
}

@mixin center-flex-column {
    @include center-flex();
    flex-direction: column;
}

@mixin center-flex-column-wrap {
    @include center-flex-column();
    flex-wrap: wrap;
}