@import './colors';
@import './fonts';
@import './media-queries';
@import './flexbox';

.header {
    $header-color: $color-1;
    
    @include font-1;
    background-color: $header-color;
    padding: 0.15em 1em;
    display: none;
    @include media-query('tablet') {
        display: block;
    }

    .navbar {
        .navbar-logo {
            $size: 60px;
            width: $size;
            height: $size;
            color: white;
            position: relative;
            @include center-align-flex;
            text-decoration: none;
            font-size: 2em;
            font-weight: bold;
            text-transform: uppercase;

            .logo {
                margin-right: 7px;
                @include center-flex;
                
                svg {
                    width: $size - 5px;
                    stroke: white;
                    stroke-width: 45px;
                }
            }
        }
    }
}