@import './media-queries';

@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #EEE;
    flex: 1;
    @include center-flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include media-query('tablet-wide') {
        flex-direction: row;
    }
}

.side-image {
    display: none;
    width: 550px;
    margin: 1em 3em;
    @include media-query('tablet-wide') {
        display: block;
    }
}