@import './media-queries';
@import './flexbox';

.main {
    background-color: #EEE;
    flex: 1;
    @include center-flex-column-wrap;
    @include media-query('tablet-wide') {
        flex-direction: row;
    }
}

.side-image {
    display: none;
    width: 550px;
    margin: 1em 3em;
    @include media-query('tablet-wide') {
        display: block;
    }
}