@import "../colors";
@import "../fonts";

.errorMessages {
	width: 100%;
    
    .errorMessages-list {
        list-style: none;
        text-align: left;
        margin-bottom: 1em;
        border-radius: 5px;
        padding: 0 1em;
        background-color: $color-danger;
        
        .errorMessages-list-item {            
            padding: 1em 0;
            color: white;
            @include font-1;
        }
    }
}