@import './colors';
@import './fonts';
@import './media-queries';
@import './flexbox';

$header-color: $color-1;
.header {    
    background-color: $header-color;
    display: none;
    padding: .75em 1em;

    @include font-1;
    @include media-query('tablet') {
        display: block;
    }

    .header__logo {
        color: white;
        font-size: 2em;
        font-weight: bold;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        @include center-align-flex;

        svg {
            margin-right: 7px;
            stroke: white;
            stroke-width: 45px;
            width: 55px;
        }
    }
}