@import './flexbox';
@import './colors';
@import './fonts';
@import './media-queries';

.main {
    flex: 1;
    background-color: #EEE;
    @include center-flex-column;
    @include media-query('tablet') {
        padding: 1.5em 0;
    }
}

.container {
    width: 100%;
    max-width: 992px;
    background-color: white;
    flex: 1;
    @include center-justify-column-flex;
    padding: 0 2em;
}

.welcome {
    @include font-1;
    margin-bottom: 2em;

    .welcome-text {
        color: $color-1;
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .welcome-user {
        color: $color-3;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }
}