@import './media-queries';
@import './flexbox';
@import './colors';

.main {
    background-color: $bg-main-color;
    flex: 1;
    @include center-flex-column-wrap;
    @include media-query('tablet-wide') {
        flex-direction: row;
    }

    .loginForm {
        box-shadow: 0px 1px 4px #aaa;
    }
}

.side-image {
    display: none;
    width: 550px;
    margin: 1em 3em;
    @include media-query('tablet-wide') {
        display: block;
    }
}